@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-main-bg: #030712;
}

@layer base {
  body {
    @apply bg-neutral-200 text-black transition-colors duration-200 dark:bg-main-bg dark:text-white;
  }
}

@layer components {
  .btn-action {
    @apply flex h-12 min-w-28 cursor-pointer items-center justify-center rounded-md border border-white bg-black px-4 font-bold text-neutral-200 shadow-2xl hover:bg-neutral-300 hover:text-neutral-600 disabled:cursor-not-allowed disabled:opacity-50 dark:border-cyan-400 dark:bg-cyan-500 dark:hover:bg-[#1f1f38] dark:hover:text-neutral-200;
  }

  .field {
    @apply block w-full rounded-lg border border-gray-600 bg-white p-2.5 text-gray-900 focus:border-blue-500 focus:ring-2 focus:ring-blue-500 focus:outline-none sm:text-sm;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #a5b4fc;
    border-radius: 10px;
  }
}
